.SidebarItem {
    margin-top: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;    
}

.SidebarLinkWrapper {
    &:hover {
        opacity: 0.8;
    }
}

.SidebarItemLink {
    opacity: 1;
}

.collapsed {
    .SidebarItemLink {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}

.SidebarItemIcon {
    margin-right: 10px;
    stroke: var(--contrast-color);
    width: 25px;
    height: 25px;
}