.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ValidationError {
    margin-top: -15px;
    color: red;
}

.LoginErrorWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginError {
    color: red;
}