.BlogPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddPost {
  margin-top: 15px;
}

.AddPostIcon {
  stroke: var(--contrast-color);
  width: 36px;
  height: 36px;
}

.Posts {
  margin-top: 30px;
}