.Button {
    cursor: pointer;
    color: var(--secondary-color);
    padding: 3px 10px;
    border-radius: 10px;

    &:hover {
        opacity: 0.7;
    }
}

.disabled {
    opacity: 0.5;

    &:hover {
        opacity: 0.5;
    }
}

.plain {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outlined {
    border: 1px solid var(--contrast-color);
    color: var(--contrast-color);
    background: none;
}

.background {
    background: var(--bg-color);
    border: 1px solid var(--secondary-color);
}

.backgroundInverted {
    background: var(--bg-color-inverted);
    color: var(--contrast-color);
    border: none;
}

.delete {
    border: 1px solid red;
    color: red;
    background: none;
}

.m {
    font: var(--font-m);
}

.l {
    font: var(--font-l);
}

.xl {
    font: var(--font-xl);
}