.PostDetailed {
    padding: 20 px;
}

.Post {
    padding: 20 px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Title {
    word-wrap: break-word;
}

.Content {
    min-width: 100%;
    max-width: 100%;
    min-height: 250px;
    max-height: 500px;
    padding: 10px;
}

.PostComments {
    margin-top: 20px;
}